<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
      <ion-grid fixed>
          <ion-row>
              <ion-col text-center>

                  <ion-button (click)="requestGPSPermission()">
                      Request GPS Accuracy
                  </ion-button>
              </ion-col>
          </ion-row>
          <ion-row>
          <ion-col size="4">Longitude: &nbsp;</ion-col>
          <ion-col>{{ locationCoords.longitude }}</ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="4">Latitude: &nbsp;</ion-col>
            <ion-col>{{ locationCoords.latitude }}</ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="4">Location: &nbsp;</ion-col>
            <ion-col>{{ locationCoords.location }}</ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="4">Address: &nbsp;</ion-col>
            <ion-col>{{ locationCoords.address }}</ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="4">Accuracy: &nbsp;</ion-col>
            <ion-col>{{ locationCoords.accuracy }}</ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="4">Timestamp: &nbsp;</ion-col>
            <ion-col>{{ locationCoords.timestamp | date:'medium' }}</ion-col>
        </ion-row>
        <ion-row>
            <img [src]="map">
        </ion-row>
    </ion-grid>
  </ion-content>

  