ion-toolbar {
    --border-style: none;
    --background: transparent;
    --ion-color-base: transparent !important;
  }
  
  ion-header {
    &.header-md:after {
      background: none;
    }
  }
  
  
  ion-label{
    padding-left: 10px;
  }
  
  ion-thumbnail{
    --border-radius:15px;
  }
  
  ion-button.backdark{
    --background: rgb(241, 241, 248);
    --border-radius:100%;
  }
  
  ion-button.test{
    --background: rgb(241, 241, 248);
    --color:rgb(26, 98, 194);
    --box-shadow:none;
    font-size: 10pt;
    text-transform: capitalize;
  }
  