<!-- <ion-header translucent>
  <ion-toolbar class="header">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs"></ion-back-button>
    </ion-buttons>
    <ion-title>Setting</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/notifications">
        <ion-icon name="notifications-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button routerLink="/login">
        <ion-icon name="person-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <br/>
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="assets/image/mycico.png" />
      </ion-thumbnail>
      <ion-label>
        <h3>Si Pulan Si Fulan</h3>
        <p>consectetur adipiscing elit. Duis ut urna neque.</p>
      </ion-label>
    </ion-item>
    <br/>

    <ion-item-divider>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-toolbar>
              <ion-buttons slot="start">
                <ion-button class="backdark">
                  <ion-icon name="person"></ion-icon>
                </ion-button>
              </ion-buttons>
              <ion-title>Personal Data</ion-title>
              <ion-buttons slot="end">
                <ion-button routerLink="/myaccount">
                  <ion-icon name="chevron-forward-outline"></ion-icon>
                </ion-button>
              </ion-buttons>
            </ion-toolbar>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-toolbar>
              <ion-buttons slot="start">
                <ion-button class="backdark">
                  <ion-icon name="settings"></ion-icon>
                </ion-button>
              </ion-buttons>
              <ion-title>Setting</ion-title>
              <ion-buttons slot="end">
                <ion-button routerLink="/tabs">
                  <ion-icon name="chevron-forward-outline"></ion-icon>
                </ion-button>
              </ion-buttons>
            </ion-toolbar>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-toolbar>
              <ion-buttons slot="start">
                <ion-button class="backdark">
                  <ion-icon name="newspaper"></ion-icon>
                </ion-button>
              </ion-buttons>
              <ion-title>E-Statement</ion-title>
              <ion-buttons slot="end">
                <ion-button routerLink="/role">
                  <ion-icon name="chevron-forward-outline"></ion-icon>
                </ion-button>
              </ion-buttons>
            </ion-toolbar>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-toolbar>
              <ion-buttons slot="start">
                <ion-button class="backdark">
                  <ion-icon name="people"></ion-icon>
                </ion-button>
              </ion-buttons>
              <ion-title>Role</ion-title>
              <ion-buttons slot="end">
                <ion-button routerLink="/try2">
                  <ion-icon name="chevron-forward-outline"></ion-icon>
                </ion-button>
              </ion-buttons>
            </ion-toolbar>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item-divider>

    <ion-item-divider>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-toolbar>
              <ion-buttons slot="start">
                <ion-button class="backdark">
                  <ion-icon name="chatbubbles"></ion-icon>
                </ion-button>
              </ion-buttons>
              <ion-title>FAQs</ion-title>
              <ion-buttons slot="end">
                <ion-button routerLink="/try">
                  <ion-icon name="chevron-forward-outline"></ion-icon>
                </ion-button>
              </ion-buttons>
            </ion-toolbar>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-toolbar>
              <ion-buttons slot="start">
                <ion-button class="backdark">
                  <ion-icon name="bag-handle"></ion-icon>
                </ion-button>
              </ion-buttons>
              <ion-title>Subscription</ion-title>
              <ion-buttons slot="end">
                <ion-button routerLink="/subscription">
                  <ion-icon name="chevron-forward-outline"></ion-icon>
                </ion-button>
              </ion-buttons>
            </ion-toolbar>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-toolbar>
              <ion-buttons slot="start">
                <ion-button class="backdark">
                  <ion-icon name="timer"></ion-icon>
                </ion-button>
              </ion-buttons>
              <ion-title>Business Day & Hour</ion-title>
              <ion-buttons slot="end">
                <ion-button routerLink="/workingdays">
                  <ion-icon name="chevron-forward-outline"></ion-icon>
                </ion-button>
              </ion-buttons>
            </ion-toolbar>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item-divider>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-toolbar>
          <ion-button class="test" size="large" expand="block"><ion-icon name="headset-outline">
          </ion-icon>&nbsp;&nbsp;&nbsp;Fell Free to Ask, We Ready to Help</ion-button>
        </ion-toolbar>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content> -->