<ion-header>
  <ion-toolbar>
    <ion-title>Clock In</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="_dismiss()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-content>
      <ion-icon name="time-outline"></ion-icon>&nbsp;
      <ion-label>{{ dateTime | date:'medium' }}</ion-label><br><br>
      <ion-icon name="location-outline"></ion-icon>&nbsp;
      <ion-label>{{ locationCoords.address }}</ion-label><br><br>
      <img [src]="map"><br><br>
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" color="danger" expand="block" shape="round">
    &nbsp;&nbsp;CLOCK OUT
  </ion-button>
  
</ion-content>