//ion-card{
    //height: 26%;
    //white-space: inherit;
    
//}

.btn{
    width: 80%;
    margin-left: 10%;
    bottom: 100%;
}

ion-toolbar{
    //--background:#4d5270;
    //--color : #ffffff;

    --border-style: none;
    --background: transparent;
    --ion-color-base: transprent !important;
}

ion-header {
    &.header-md:after {
        background: none;
    }
}
