<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/setting"></ion-back-button>
    </ion-buttons>
    <ion-title>Business Day & Hours</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-content>
  <ion-label style="color:gray">SUNDAY</ion-label>
    <ion-grid>
      <ion-list>
        <ion-item>
          <ion-label>Working Days</ion-label>
          <ion-select multiple="true" cancelText="Cancel" okText="Done">
            <ion-select-option value="full day">Full Day</ion-select-option>
            <ion-select-option value="half day">Half Day</ion-select-option>
            <ion-select-option value="off day">Off Day</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
      <ion-row>
        <ion-col size="6">
          <ion-item>
            <ion-label position="stacked" style="color:gray">Start</ion-label>
            <ion-datetime displayFormat="HH:mm" value="13:47" placeholder="Select Time"></ion-datetime>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item>
            <ion-label position="stacked" style="color:gray">End</ion-label>
            <ion-datetime displayFormat="HH:mm" value="13:47" placeholder="Select Time"></ion-datetime>
          </ion-item>
        </ion-col>
    </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>


<ion-card>
  <ion-card-content>
  <ion-label style="color:gray">MONDAY</ion-label>
    <ion-grid>
      <ion-list>
        <ion-item>
          <ion-label>Working Days</ion-label>
          <ion-select multiple="true" cancelText="Cancel" okText="Done">
            <ion-select-option value="full day">Full Day</ion-select-option>
            <ion-select-option value="half day">Half Day</ion-select-option>
            <ion-select-option value="off day">Off Day</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
      <ion-row>
        <ion-col size="6">
          <ion-item>
            <ion-label position="stacked" style="color:gray">Start</ion-label>
            <ion-datetime displayFormat="HH:mm" value="13:47" placeholder="Select Time"></ion-datetime>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item>
            <ion-label position="stacked" style="color:gray">End</ion-label>
            <ion-datetime displayFormat="HH:mm" value="13:47" placeholder="Select Time"></ion-datetime>
          </ion-item>
        </ion-col>
    </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>


<ion-card>
  <ion-card-content>
    <ion-label style="color:gray">TUESDAY</ion-label>
    <ion-grid>
      <ion-list>
        <ion-item>
          <ion-label>Working Days</ion-label>
          <ion-select multiple="true" cancelText="Cancel" okText="Done">
            <ion-select-option value="full day">Full Day</ion-select-option>
            <ion-select-option value="half day">Half Day</ion-select-option>
            <ion-select-option value="off day">Off Day</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
      <ion-row>
        <ion-col size="6">
          <ion-item>
            <ion-label position="stacked" style="color:gray">Start</ion-label>
            <ion-datetime displayFormat="HH:mm" value="13:47" placeholder="Select Time"></ion-datetime>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item>
            <ion-label position="stacked" style="color:gray">End</ion-label>
            <ion-datetime displayFormat="HH:mm" value="13:47" placeholder="Select Time"></ion-datetime>
          </ion-item>
        </ion-col>
    </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>


<ion-card>
  <ion-card-content>
    <ion-label style="color:gray">WEDNESDAY</ion-label>
    <ion-grid>
      <ion-list>
        <ion-item>
          <ion-label>Working Days</ion-label>
          <ion-select multiple="true" cancelText="Cancel" okText="Done">
            <ion-select-option value="full day">Full Day</ion-select-option>
            <ion-select-option value="half day">Half Day</ion-select-option>
            <ion-select-option value="off day">Off Day</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
      <ion-row>
        <ion-col size="6">
          <ion-item>
            <ion-label position="stacked" style="color:gray">Start</ion-label>
            <ion-datetime displayFormat="HH:mm" value="13:47" placeholder="Select Time"></ion-datetime>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item>
            <ion-label position="stacked" style="color:gray">End</ion-label>
            <ion-datetime displayFormat="HH:mm" value="13:47" placeholder="Select Time"></ion-datetime>
          </ion-item>
        </ion-col>
    </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>


<ion-card>
  <ion-card-content>
    <ion-label style="color:gray">THURSDAY</ion-label>
    <ion-grid>
      <ion-list>
        <ion-item>
          <ion-label>Working Days</ion-label>
          <ion-select multiple="true" cancelText="Cancel" okText="Done">
            <ion-select-option value="full day">Full Day</ion-select-option>
            <ion-select-option value="half day">Half Day</ion-select-option>
            <ion-select-option value="off day">Off Day</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
      <ion-row>
        <ion-col size="6">
          <ion-item>
            <ion-label position="stacked" style="color:gray">Start</ion-label>
            <ion-datetime displayFormat="HH:mm" value="13:47" placeholder="Select Time"></ion-datetime>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item>
            <ion-label position="stacked" style="color:gray">End</ion-label>
            <ion-datetime displayFormat="HH:mm" value="13:47" placeholder="Select Time"></ion-datetime>
          </ion-item>
        </ion-col>
    </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>


<ion-card>
  <ion-card-content>
    <ion-label style="color:gray">FRIDAY</ion-label>
    <ion-grid>
      <ion-list>
        <ion-item>
          <ion-label>Working Days</ion-label>
          <ion-select multiple="true" cancelText="Cancel" okText="Done">
            <ion-select-option value="full day">Full Day</ion-select-option>
            <ion-select-option value="half day">Half Day</ion-select-option>
            <ion-select-option value="off day">Off Day</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
      <ion-row>
        <ion-col size="6">
          <ion-item>
            <ion-label position="stacked" style=" color:gray">Start</ion-label>
            <ion-datetime displayFormat="HH:mm" value="13:47" placeholder="Select Time"></ion-datetime>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item>
            <ion-label position="stacked" style="color:gray">End</ion-label>
            <ion-datetime displayFormat="HH:mm" value="13:47" placeholder="Select Time"></ion-datetime>
          </ion-item>
        </ion-col>
    </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>


<ion-card>
  <ion-card-content>
    <ion-label style="color:gray">SATURDAY</ion-label>
    <ion-grid>
      <ion-list>
        <ion-item>
          <ion-label>Working Days</ion-label>
          <ion-select multiple="true" cancelText="Cancel" okText="Done">
            <ion-select-option value="full day">Full Day</ion-select-option>
            <ion-select-option value="half day">Half Day</ion-select-option>
            <ion-select-option value="off day">Off Day</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
      <ion-row>
        <ion-col size="6">
          <ion-item>
            <ion-label position="stacked" style="color:gray">Start</ion-label>
            <ion-datetime displayFormat="HH:mm" value="13:47" placeholder="Select Time"></ion-datetime>
          </ion-item>
        </ion-col>

        <ion-col size="6">
          <ion-item>
            <ion-label position="stacked" style="color:gray">End</ion-label>
            <ion-datetime displayFormat="HH:mm" value="13:47" placeholder="Select Time"></ion-datetime>
          </ion-item>
        </ion-col>
    </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>

  <ion-button class="btn" color="warning" expand="block" shape="round">&nbsp;&nbsp;UPDATE</ion-button>
  <!-- <ion-button class="btn" color="warning" expand="block" shape="round" (click)="workingdays()">&nbsp;&nbsp;UPDATE</ion-button> -->

</ion-content>
