<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title>Notifications</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list>

    <ion-item-sliding *ngFor="let list of notificationlist">
      <!-- <ion-item-sliding> -->
      <ion-item>
          <ion-avatar slot="start">
              <img src="assets/image/mycico.png">
           </ion-avatar>
           <ion-label>
               <h2>{{ notificationlist.title }}</h2>
               <!--<h2>ZAN</h2>-->
               <p>{{ notificationlist.desc }}</p>
               <!--<p> Notifications</p>-->
           </ion-label>
           <ion-note slot="end">
               {{ notificationlist.create_date }}
           </ion-note>
           <!--<ion-note slot="end">
            Nov 29, 2021
        </ion-note>-->
       </ion-item>
       
       <ion-item-options side="end">
           <ion-item-option color="danger">
               <ion-icon slot="icon-only" name="trash"></ion-icon>
           </ion-item-option>
       </ion-item-options>
   </ion-item-sliding>
</ion-list>

</ion-content>




