<!-- <ion-header>
  <ion-toolbar>
    <ion-title>welcome</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <ion-slides>

    <ion-slide>
      <div class="slide">
        <img src="assets/image/cuate1.png"/>
        <h2>Welcome</h2>
        <p>The <b>ionic conference app</b> is a practical preview of the ionic framework in action, and a demonstration of proper code use.</p>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="slide">
      <img src="assets/image/rafiki.png"/>
      <h2>What is Ionic?</h2>
      <p><b>Ionic Framework</b> is an open source SDK that enables developers to build high quality mobile apps with web technologies like HTML, CSS, and JavaScript.</p>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="slide">
      <img src="assets/image/cuate2.png"/>
      <h2>What is Appflow?</h2>
      <p><b>Appflow</b> is a powerful set of services and features built on top of Ionic Framework that brings a totally new level of app development agility to mobile dev teams.</p>
      </div>
    </ion-slide>
  </ion-slides>
  <section>
    <ion-button class="started" expand="block" color="warning" routerLink="/login">Get Started</ion-button>
  </section>
</ion-content>
