<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>Forgot Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="section2">
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-button expand="block" color="warning">phone</ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button expand="block" color="dark">email</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p class="description">We have send the login code to your phone, please check your phone to confirm your account</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col align-self-center size="3">
        <ion-item class="form-input" lines="none">
          <ion-input></ion-input>
        </ion-item>
      </ion-col>
      <ion-col align-self-center size="3">
        <ion-item class="form-input" lines="none">
          <ion-input></ion-input>
        </ion-item>
      </ion-col>
      <ion-col align-self-center size="3">
        <ion-item class="form-input" lines="none">
          <ion-input></ion-input>
        </ion-item>
      </ion-col>
      <ion-col align-self-center size="3">
        <ion-item class="form-input" lines="none">
          <ion-input></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="description">
        <a routerLink="/login" class="resend">Resend Another Code</a>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
