ion-content.section2 {
  --padding-top: 10%;
  --padding-start: 10%;
  --padding-end: 10%;

}

.form-input {
  --background: #FCF3CF;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 15px;
}

.description{
  text-align: center;
  color: #AAB7B8;
}

a.resend{
  text-decoration: none;
  font-weight: 700;
  color:#FFBF00;
}

.ion-color-dark{
  --ion-color-contrast: #ffca22 !important
}
