ion-toolbar{
  //--background :#4d5270;
  //--color :#ffffff;

  --border-style: none;
  --background: transparent;
  --ion-color-base: transparent !important;
}

ion-header {
  &.header-md:after {
    background: none;
  }
}

.profile-size{
  margin-top: 20%;
}

.profile-pic{
  border-radius: 35%;
}

ion-button.backdark{
  --background: rgb(241, 241, 248);
  --border-radius:100%;
}

.button5 {border-radius: 50%;}
