<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs"></ion-back-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/notifications">
        <ion-icon name="notifications-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button routerLink="/login">
        <ion-icon name="person-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="profile-size">
    <ion-row>
        <ion-col size="5.5" offset="3.3">
          <ion-card class="profile-pic">
          <ion-img src="assets/image/mycico.png" class="your-img"></ion-img>
        </ion-card>
        <ion-button style="position: relative; top: -23%; left: 72%;" size="small">
          <ion-icon name="create-outline" style="margin-left: -4px;margin-right: -5px;"></ion-icon>
        </ion-button>
        </ion-col>
   </ion-row>
  </ion-grid>


    <ion-list>
      <ion-card>
        <ion-item>
          <ion-buttons slot="start">
            <ion-button class="backdark">
              <ion-icon name="person-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
          <ion-label>Login Details</ion-label>
          <ion-buttons slot="end">
            <ion-button routerLink="/tabs">
              <ion-icon name="chevron-forward-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-item>
      </ion-card>
      <ion-card>
        <ion-item>
          <ion-buttons slot="start">
            <ion-button class="backdark">
              <ion-icon name="help-circle-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
          <ion-label>Help</ion-label>
          <ion-buttons slot="end">
            <ion-button routerLink="/tabs">
              <ion-icon name="chevron-forward-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-item>
      </ion-card>
      <ion-card>
        <ion-item>
          <ion-buttons slot="start">
            <ion-button class="backdark">
              <ion-icon name="newspaper-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
          <ion-label>Legal Information</ion-label>
          <ion-buttons slot="end">
            <ion-button routerLink="/tabs">
              <ion-icon name="chevron-forward-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-item>
      </ion-card>
      <ion-card>
        <ion-item>
          <ion-buttons slot="start">
            <ion-button class="backdark">
              <ion-icon name="help-circle-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
          <ion-label>Face ID verification</ion-label>
          <ion-buttons slot="end">
            <ion-button routerLink="/tabs">
              <ion-icon name="chevron-forward-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-item>
      </ion-card>
    </ion-list>

</ion-content>
