<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>Signup</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col align-self-center>
        <ion-item class="form-input" lines="none">
          <ion-input placeholder="Company Name" [(ngModel)]="form.company_name"></ion-input>
        </ion-item>
        <ion-item class="form-input" lines="none">
          <ion-input placeholder="Business Registration Number" [(ngModel)]="form.registration_no"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col align-self-center>
        <ion-item class="form-input" lines="none">
          <ion-input placeholder="Firstname" [(ngModel)]="form.firstname"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col align-self-center>
        <ion-item class="form-input" lines="none">
          <ion-input placeholder="Lastname" [(ngModel)]="form.lastname"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col align-self-center>
        <ion-item class="form-input" lines="none">
          <ion-input placeholder="Contact Number" [(ngModel)]="form.phone_no"></ion-input>
        </ion-item>
        <ion-item class="form-input" lines="none">
          <ion-input placeholder="Email" [(ngModel)]="form.email"></ion-input>
        </ion-item>
        <ion-item class="form-input" lines="none">
          <ion-input placeholder="Username" [(ngModel)]="form.username"></ion-input>
        </ion-item>
        <ion-item class="form-input" lines="none">
          <ion-input placeholder="password" [type]="showPassword ? 'text':'password'" [(ngModel)]="form.password"></ion-input>
          <ion-icon slot="end" [name]="passwordToggleIcon" (click)="togglePassword()"></ion-icon>
        </ion-item>
        <br/><br/>
        <ion-button (click)="signup()" expand="block" color="dark">Sign Up</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
