ion-toolbar{
  //--background :#4d5270;
  //--color :#ffffff;

  --border-style: none;
  --background: transparent;
  --ion-color-base: transparent !important;
}

ion-header {
  &.header-md:after {
    background: none;
  }
}

ion-content {
  --padding-top: 10%;
  --padding-start: 10%;
  --padding-end: 10%;

}

.form-input {
  --background: #F4F6F6;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 15px;
}
