<ion-header>
  <ion-toolbar>
    <ion-title>Activity</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="_dismiss()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form>
  <ion-icon name="time-outline"></ion-icon>&nbsp;
  <ion-label>{{ dateTime | date:'medium' }}</ion-label><br><br>
  <ion-icon name="location-outline"></ion-icon>&nbsp;
  <ion-label>{{ locationCoords.address }}</ion-label><br><br>
  <img [src]="map"><br><br>
  <ion-label><b>Note</b></ion-label>
  <ion-input class="form-input" placeholder="note">&nbsp;</ion-input>
</form>
  <ion-button class="btn" color="warning" expand="block" shape="round">
    <ion-icon slot="icon-only"name="timer"></ion-icon>&nbsp;&nbsp;Clock In
  </ion-button>
</ion-content>
