<!-- <ion-header>
  <ion-toolbar>
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col align-self-center>

        test
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <ion-icon name="home-outline"></ion-icon>
        <!-- <ion-label>Schedule</ion-label>
        <ion-badge>6</ion-badge> -->
      </ion-tab-button>

      <ion-tab-button tab="attendance">
        <ion-icon name="timer-outline"></ion-icon>
        <!-- <ion-label>Speakers</ion-label> -->
      </ion-tab-button>

      <ion-tab-button tab="profile">
        <ion-icon name="person-outline"></ion-icon>
        <!-- <ion-label>Map</ion-label> -->
      </ion-tab-button>

      <ion-tab-button tab="setting">
        <ion-icon name="settings-outline"></ion-icon>
        <!-- <ion-label>About</ion-label> -->
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
