ion-toolbar{
  //--background :#4d5270;
  //--color :#ffffff;

  --border-style: none;
  --background: transparent;
  --ion-color-base: transparent !important;
}

ion-header {
  &.header-md:after {
    background: none;
  }
}

ion-button.test{
  --background: rgb(241, 241, 248);
  --color:rgb(26, 98, 194);
  --box-shadow:none;
  font-size: 10pt;
  text-transform: capitalize;
}

ion-grid.border{
  background-color: white; 
  border-color: lightgray; 
  border-style: solid; 
  border-width: thin;
}

ion-avatar {
  width: 60px !important; 
  height : 60px !important;
  
}