<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col align-self-center>
        <ion-item class="form-input" lines="none">
          <ion-input placeholder="Email / Username" [(ngModel)]="form.username"></ion-input>
        </ion-item>
        <ion-item class="form-input" lines="none">
          <ion-input placeholder="password" [type]="showPassword ? 'text':'password'" [(ngModel)]="form.password"></ion-input>
          <ion-icon slot="end" [name]="passwordToggleIcon" (click)="togglePassword()"></ion-icon>
        </ion-item>
        <a routerLink="/forgotpassword" class="fpassword">forgot password?</a>
        <br/><br/>
        <ion-button (click)="login()" expand="block" color="warning"> Login</ion-button>
        <br/>
        <p class="test1"><span class="test2">or</span></p>
        <p>Don't have an account yet?</p>
        <ion-button routerLink="/signup" expand="block" color="dark">Sign Up</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
