ion-toolbar {
  --border-style: none;
  --background: transparent;
  --ion-color-base: transparent !important;
}

ion-header {
  &.header-md:after {
    background: none;
  }
}

ion-content {
  --padding-top: 40%;
  --padding-start: 10%;
  --padding-end: 10%;

}

.form-input {
  --background: #F4F6F6;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 15px;
}

p.test1 {
   width: 100%;
   text-align: center;
   border-bottom: 1px solid #000;
   line-height: 0.1em;
   margin: 10px 0 20px;
}

p.test1 span.test2 {
    background:#fff;
    padding:0 10px;
}

p{
  text-align: center;
}

a.fpassword{
  float: right;
  text-decoration: none;
}

.ion-color-dark{
  --ion-color-contrast: #ffca22 !important
}
