ion-avatar { 
    width: 100px;  
    height: 100px;
    margin-left: 35%;
    border-style: solid;
}

.ion-card{
    background-color: #4d5270;
}

ion-toolbar{
    //--background:#4d5270;
    //--color : #ffffff;

    --border-style: none;
    --background: transparent;
    --ion-color-base: transparent !important;
}

ion-header{
  &.header-md:after {
    background: transparent;
  }
}

.ion-label{
    color: white;
}

.btn{
    width: 80%;
    margin-left: 10%;
    bottom: 100%;
}

ion-progress-bar {
    border-radius: 10%;
}

.status{
    border-radius: 30%;
    width: 20%;
}

#faq{
    ul{
      padding: 0;
  
      li{
        position: relative;
        overflow: hidden;
        padding: 0;
        margin: 0;
        width: 100%;
        height: 70%;
        background: #fff;
        +{
          li{
            margin-top: 15px;
          }
        }
        i{
          position: absolute;
          transform: translate(-6px,0);
          margin-top: 28px;
          right: 15px;
          &:before{
            content: "";
            position: absolute;
            transition: all 0.3s;
            background-color: #cc071e;
            width: 3px;
            height: 9px;
            transform: translate(-2px,0) rotate(45deg);
          }
          &:after{
            transform: translate(2px,0) rotate(-45deg);
            transition: all 0.3s;
            content: "";
            position: absolute;
            background-color: #cc071ee6;
            width: 3px;
            height: 9px;
          }
        }
  
        input[type="checkbox"] {
          position: absolute;
          cursor: pointer;
          width: 100%;
          height: 100%;
          z-index: 1;
          opacity: 0;
          touch-action: manipulation;
          &:checked{
            ~ {
              h3{
                color: #000;
              }
              p{
                max-height: 0;
                transition: 0.3s;
                opacity: 0;
              }
              i{
                &:before{
                  transform: translate(2px,0) rotate(45deg);
                }
                &:after{
                  transform: translate(-2px,0) rotate(-45deg);
                }
              }
            }
          }
        }
      }
    }
  }
  .no-select{
    user-select: none;
  }
  h3{
    color: #cc071ee6;
    font-size: 20px;
    line-height: 34px;
    text-align: left;
    //padding: 15px 15px 0;
    text-transform: none;
    font-weight: 300;
    letter-spacing: 1px;
    display: block;
    margin: 0;
    cursor: pointer;
    transition: 0.2s;
  }
  p{
    color: #333;
    text-align: left;
    font-size: 14px;
    line-height: 1.45;
    position: relative;
    overflow: hidden;
    max-height: 250px;
    will-change: max-height;
    contain: layout;
    display: inline-block;
    opacity: 1;
    transform: translate(0,0);
    margin-top: 5px;
    margin-bottom: 15px;
    padding: 0 50px 0 15px;
    transition: 0.3s opacity, 0.6s max height;
  
  }
