<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/setting"> </ion-back-button>
    </ion-buttons>
    <ion-title>Subscription</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card class="ion-card">
    <ion-card-content class="ion-text-center">
      <ion-avatar>
        <img src="assets/image/mycico.png">
      </ion-avatar><br>
      <ion-label class="ion-label"><b>Galtech Systems(M) Sdn Bhd</b></ion-label><br>
      <ion-label class="ion-label"><b>Subscription Type: Trial</b></ion-label>
    </ion-card-content>

    <ion-card>
      <ion-card-content>
        <div id="faq">
          <ul>
            <li>
              <input type="checkbox" checked>
              <i></i>
              <h3 class="ion-padding">Subscription Detail</h3>
              <p>Subscription Date: <br>
                <ion-icon name="checkmark-outline" size="small"></ion-icon>&nbsp;
                7 Jul 2021 - 7 Aug 2022<br><br>

                Payment Term: <br>
                <ion-icon name="checkmark-outline" size="small"></ion-icon>&nbsp;
                Anually<br><br>

                Total Payment: <br>
                <ion-icon name="checkmark-outline" size="small"></ion-icon>&nbsp;
                RM 39.90 <br><br>

                Remarks (if any): <br>
              </p>


            </li>
          </ul>
        </div>

        <ion-label><b>12 of 30 user</b></ion-label><br><br>
        <!-- Default Progressbar with 50 percent -->
        <ion-progress-bar value="0.4"></ion-progress-bar>

      </ion-card-content>
    </ion-card>

    <ion-button (click)="_openModalSubscription()" class="btn" color="warning" expand="block" shape="round">
      &nbsp;&nbsp;UPGRADE SUBSCRIPTION
    </ion-button><br>
  </ion-card>

  <ion-list>

    <ion-item-sliding>
      <ion-item>
        <ion-label>#09959</ion-label>
        <ion-button slot="end" class="status" color="success"> PAID </ion-button>
      </ion-item>
      <ion-item-options>
        <ion-item-option color="secondary">
          <ion-icon slot="top" name="trash"></ion-icon>
          Delete
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

    <ion-item-sliding>
      <ion-item>
        <ion-label>#01212</ion-label>
        <ion-button slot="end" class="status" color="warning"> PENDING </ion-button>
      </ion-item>
      <ion-item-options>
        <ion-item-option color="secondary">
          <ion-icon slot="top" name="trash"></ion-icon>
          Delete
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

    <ion-item-sliding>
      <ion-item>
        <ion-label>#09959</ion-label>
        <ion-button slot="end" class="status" color="danger"> OVERDUE </ion-button>
      </ion-item>
      <ion-item-options>
        <ion-item-option color="secondary">
          <ion-icon slot="top" name="trash"></ion-icon>
          Delete
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

  </ion-list>
</ion-content>