<ion-header>
  <ion-toolbar>
    <ion-title>Role</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="_dismiss()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
  <ion-label style="color:gray">Board Of Directory</ion-label>
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <ion-item >
            <ion-label position="stacked" style="color:gray">Clock In</ion-label>
            <ion-datetime displayFormat="HH:mm" value="13:47" placeholder="Select Time"></ion-datetime>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item>
            <ion-label position="stacked" style="color:gray">Clock Out</ion-label>
            <ion-datetime displayFormat="HH:mm" value="13:47" placeholder="Select Time"></ion-datetime>
          </ion-item>
        </ion-col>
    </ion-row>
    </ion-grid>
    <ion-button color="primary" class="btn"> UPDATE </ion-button>
  </ion-card-content>
</ion-card>
  
</ion-content>