.btn{
    width: 80%;
    margin-left: 10%;
    bottom: 100%;
}

.form-input {
    --background: #F4F6F6;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 15px;
    top: 5px;
}

h2 {
    font-weight: bold;

}


