<ion-header>
  <ion-toolbar>
    <ion-title>Choose your plan</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="_dismiss()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!----------------<ion-card>
    <ion-card-header>
      <ion-card-title>Please {{type}} to our channel {{name}}</ion-card-title>
     
    </ion-card-header>
  </ion-card>------------------>
  

  <ion-card>
    <ion-card-content>
      <ion-label style="color:lightgray">T R I A L</ion-label><br>

      <ion-label>
        <ion-icon name="checkmark-outline" size="small"></ion-icon>&nbsp;
        FREE
      </ion-label>

      <ion-label><br>
        <ion-icon name="checkmark-outline" size="small"></ion-icon>&nbsp;
        10 account limit
      </ion-label>

      <ion-label><br>
        <ion-icon name="checkmark-outline" size="small"></ion-icon>&nbsp;
        7 days duration
      </ion-label>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <h2>Package A</h2>
      <ion-label style="color:lightgray">M O N T L Y</ion-label><br>

      <ion-label>
        <ion-icon name="checkmark-outline" size="small"></ion-icon>&nbsp;
        RM 30.00 / month
      </ion-label>

      <ion-label><br>
        <ion-icon name="checkmark-outline" size="small"></ion-icon>&nbsp;
        30 account limit
      </ion-label>

      <ion-label><br>
        <ion-icon name="checkmark-outline" size="small"></ion-icon>&nbsp;
        30 days duration
      </ion-label>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <h2>Package B</h2>
      <ion-label style="color:lightgray">A N N U A L L Y</ion-label><br>

      <ion-label>
        <ion-icon name="checkmark-outline" size="small"></ion-icon>&nbsp;
        RM 59.90 / year
      </ion-label>

      <ion-label><br>
        <ion-icon name="checkmark-outline" size="small"></ion-icon>&nbsp;
        100 account limit
      </ion-label>

      <ion-label><br>
        <ion-icon name="checkmark-outline" size="small"></ion-icon>&nbsp;
        365 days duration
      </ion-label>
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" color="primary" expand="block" shape="round">
    &nbsp;&nbsp;CHOOSE YOUR PLAN
  </ion-button>
  
</ion-content>