:host{
    width: 100vw;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4d5270;
}

/*.digitalClock{
    position: relative;
    //width: 300px;
    //height: 130px;
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    //background-color: #e0bb2e;
    //background: url(/assets/icon/mycico.png) no-repeat 49% 36%;
    //border : 2px solid #fff;
    border: 5px solid #000;
    //border-radius: 5px;
    border-radius: 50%;
    box-shadow: inset 0 0 15px black,
                      0 20px 20px rgba(0,0,0,.4);
    font-size : 26px;
    color : #fff;
    text-transform: uppercase;

}*/

.digitalClock{
    position: relative;
    //width: 300px;
    //height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    //background-color: #fcb040;
    //border : 2px solid black;
    //border-radius: 5px;
    //box-shadow: inset 0 0 15px black,
                      //0 20px 20px rgba(0,0,0,.4);
    font-size : 50px;
    color : #fff;
    text-transform: uppercase;
  
}

.dayTitle{
    font-size: 35px;
    margin-bottom: 10px;
}

.digitalTime {
    display: flex;
}

.ampm{
    margin-top: 25px;
    font-size: 25px;
}


