<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-badge>6</ion-badge>
      <ion-button routerLink="/notifications">
        <ion-icon name="notifications-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button routerLink="/profile">
        <ion-icon name="person-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="logout()"><ion-icon name="log-out-outline"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title style="color:white">Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-grid>
    <ion-row padding>
      <ion-col>
        <!-- <img src="assets/image/mycico.png" /> -->
        <!--<app-clock-analog></app-clock-analog>-->
        <app-digital-clock></app-digital-clock>
        <!----<ion-button routerLink="/setting" color="warning" expand="block" shape="round"><ion-icon slot="icon-only"name="timer"></ion-icon>&nbsp;&nbsp;Clock In</ion-button>--->
        <ion-button (click)="_openModal()" color="warning" expand="block" shape="round"><ion-icon slot="icon-only"name="timer"></ion-icon>&nbsp;&nbsp;Clock In</ion-button>
      </ion-col>
    </ion-row>
        <ion-card>
            <ion-row>
              <ion-col size="1">
              </ion-col>
              <ion-col size="8">
                <ion-card-title>Meeting</ion-card-title>
                <ion-card-subtitle>Card Title</ion-card-subtitle>
              </ion-col>
              <ion-col>
                <ion-card-content style="float: right;font-weight: 700;">8:00</ion-card-content>
              </ion-col>
            </ion-row>
        </ion-card>
        <ion-card>
            <ion-row>
              <ion-col size="1">
              </ion-col>
              <ion-col size="8">
                <ion-card-title>Lunch</ion-card-title>
                <ion-card-subtitle>Card Title</ion-card-subtitle>
              </ion-col>
              <ion-col>
                <ion-card-content style="float: right;font-weight: 700">8:00</ion-card-content>
              </ion-col>
            </ion-row>
        </ion-card>
  </ion-grid>

</ion-content>
