ion-toolbar{
  --border-style: none;
  --background: transparent;
  --ion-color-base: transparent !important;
}

ion-header {
  &.header-md:after {
    background: none;
  }
}

ion-content{
  --background :#4d5270;
}

ion-card-title{
  font-weight: 900;
}
