<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs"></ion-back-button>
    </ion-buttons>
    <ion-title>Attendance</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/notifications">
        <ion-icon name="notifications-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button routerLink="/login">
        <ion-icon name="person-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <ion-list>
            <ion-item>
              <ion-label>User</ion-label>
              <!-- <ion-select placeholder="Select One" *ngFor="let list of employeelist"> -->
              <ion-select placeholder="Select One">
                <!-- <ion-select-option value="fulan">{{ employeelist.firstname }}</ion-select-option> -->
                <ion-select-option value="fulan">Si Fulan Si Pulan</ion-select-option>
                <ion-select-option value="ali">Ali</ion-select-option>
                <ion-select-option value="abu">Abu</ion-select-option>
                <ion-select-option value="ahmad">Ahmad</ion-select-option>
                <ion-select-option value="Shah">Shah</ion-select-option>
                <ion-select-option value="Shah">Shah</ion-select-option>
                <ion-select-option value="Shah">Shah</ion-select-option>
                <ion-select-option value="Shah">Shah</ion-select-option>
              </ion-select>
            </ion-item>

          </ion-list>
        </ion-col>

        <ion-col size="6">
          <ion-item>
            <ion-label position="stacked" style="color:gray">Start</ion-label>
            <ion-datetime value="1990-02-19" placeholder="Select Date"></ion-datetime>
          </ion-item>
        </ion-col>

        <ion-col size="6">
          <ion-item>
            <ion-label position="stacked" style="color:gray">End</ion-label>
            <ion-datetime value="1990-02-19" placeholder="Select Date"></ion-datetime>
          </ion-item>
        </ion-col>

        <ion-col size="12">
            <ion-button expand="block"><ion-icon name="filter-circle-outline" (click)="filter()"></ion-icon>&nbsp;&nbsp;&nbsp;Filter</ion-button>
        </ion-col>
    </ion-row>
    </ion-grid>
  </ion-card>


  <ion-label style="color:gray" class="ion-padding">TODAY</ion-label><br><br>
  <ion-item>
    <ion-avatar slot="start">
      <img src="assets/image/mycico.png">
    </ion-avatar>
    <!-- <ion-label>{{ userattendance.firstname }}</ion-label><ion-label slot="end">{{ userattendance.datetime_in }}</ion-label> -->
    <ion-label> Noor Izzah </ion-label><ion-label slot="end"> 8:22 AM </ion-label>
    <ion-icon name="log-in-outline" slot="end" color="black" size="large" (click)="_openModalDetails()"></ion-icon>
  </ion-item><br>

  <ion-label style="color:gray" class="ion-padding">YESTERDAY</ion-label><br><br>
  <ion-item>
    <ion-avatar slot="start">
      <img src="assets/image/mycico.png">
    </ion-avatar>
    <ion-label> Noor Izzah </ion-label><ion-label slot="end"> 8:22 AM </ion-label>
    <ion-icon name="log-in-outline" slot="end" color="black" size="large" (click)="_openModalDetails()"></ion-icon>
  </ion-item>

  <ion-item>
    <ion-avatar slot="start">
      <img src="assets/image/mycico.png">
    </ion-avatar>
    <ion-label> Noor Izzah </ion-label><ion-label slot="end"> 8:22 AM </ion-label>
    <ion-icon name="log-out-outline" slot="end" color="danger" size="large" (click)="_openModalDetails()"></ion-icon>
  </ion-item><br>

  <ion-label style="color:gray" class="ion-padding">28 OCTOBER 2021</ion-label><br><br>
  <ion-item>
    <ion-avatar slot="start">
      <img src="assets/image/mycico.png">
    </ion-avatar>
    <ion-label> Ali </ion-label><ion-label slot="end"> 8:22 AM </ion-label>
    <ion-icon name="log-in-outline" slot="end" color="black" size="large" (click)="_openModalDetails()"></ion-icon>
  </ion-item>

  <ion-item>
    <ion-avatar slot="start">
      <img src="assets/image/mycico.png">
    </ion-avatar>
    <ion-label> Ali </ion-label><ion-label slot="end"> 8:22 AM </ion-label>
    <ion-icon name="log-out-outline" slot="end" color="danger" size="large" (click)="_openModalDetails()"></ion-icon>
  </ion-item><br>

</ion-content>

