/*.ionavatar{
    width:20%;
    height:20%;
    margin-top:10px;
}

.ion-card{
    background-color:#4d5270;
}

.text{
    color:white;
}

ion-toolbar{
    --background:#4d5270;
    --color : #ffffff;
}

.profile-size{
    margin-top: 20%;
}

.profile-pic{
    border-radius: 35%;
}

ion-button.backdark{
    --background: rgb(241,241,248);
    --border-radius: 100%;
}

.button5 {
    border-radius: 50%;
}

.btnSave{
    width:50%;
}


.form-input {
    --background: #F4F6F6;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 15px;
  }

  */

  .ionavatar{
    width:20%;
    height:20%;
    margin-top:10px;
    border-style: solid;
}

.ion-card{
    background-color:#4d5270;
}

.text{
    color:white;
}

ion-toolbar{
    //--background:#4d5270;
    //--color : #ffffff;

    --border-style: none;
    --background: transparent;
    --ion-color-base: transparent !important;
}

ion-header {
    &.header-md:after {
        background: none;
    }
}

.profile-size{
    margin-top: 20%;
}

.profile-pic{
    border-radius: 35%;
}

ion-button.backdark{
    --background: rgb(241,241,248);
    --border-radius: 100%;
}

.button5 {
    border-radius: 50%;
}

.btnSave{
    width:80%;
}


.form-input {
    --background: #F4F6F6;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 15px;
  }

  ion-card {
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
    overflow: visible;
    margin: 16px 0 24px;
    position: relative;
    padding-top: 60px;
    background-color:#4d5270;
  
    .img-wrapper {
      position: absolute;
      left: 50%;
      top: -30px;
      transform: translateX(-50%);
      img {
        border-radius: 50px;
        width: 80px;
        height: 80px;
      }
    }
  }