<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/setting"> </ion-back-button>
    </ion-buttons>
    <ion-title>PROFILE</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <br>
<ion-card>
  <div class="img-wrapper">
    <img src="./assets/image/pic.png" />
    <!-- <img [src]="{{ profiledata.profile_picture }}" -->
  </div>
  <ion-card-content class="ion-text-center">
    <h6 class="text">Han Hany</h6>
    <!-- <h6 class="text">{{ profiledata.firstname }}&nbsp;{{ profiledata.lastname }}</h6> -->
    <ion-text>
      <div style="display: flex;" class="ion-justify-content-center">
        <ion-icon name="call-outline" class="text">
        </ion-icon>&nbsp;
        <h5 class="text">012-2345679</h5>
        <!-- <h5 class="text">{{ profiledata.phone_no }}</h5> -->
      </div>
    </ion-text>
    <p class="text">-------------------------------------------------------------------</p>
    <ion-text>
      <div style="display: flex;" class="ion-justify-content-center">
        <ion-icon name="mail-outline" class="text">
        </ion-icon>&nbsp;
        <p class="text">hanhany@gmail.com</p>
        <!-- <p class="text">{{ profiledata.email }}</p> -->
      </div>
    </ion-text>
  </ion-card-content>
</ion-card><br>
  

  <ion-label style="font-size:large; color:gray" class="ion-padding">Personal Details</ion-label>
  <ion-item>
    <ion-label position="stacked">NRIC Number</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Maritial Status</ion-label>
    <ion-label color="primary">{{ maritalstatus }}</ion-label>
    <ion-icon name="chevron-down-outline" size="small" color="primary" slot="end" fill="clear"
      (click)="showMaritalStatus()"></ion-icon>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Date Of Birth</ion-label>
    <ion-datetime value="1994-12-15"></ion-datetime>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Gender</ion-label>
    <ion-label color="primary">{{ gender }}</ion-label>
    <ion-icon name="chevron-down-outline" size="small" color="primary" slot="end" fill="clear" (click)="showGender()">
    </ion-icon>
  </ion-item><br><br>

  <ion-label style="font-size:large; color:gray" class="ion-padding">Update Password</ion-label>
  <ion-item>
    <ion-label position="stacked">Current Password</ion-label>
    <!--<ion-input type="password" disabled>{{ profiledata.password_hash }}</ion-input>-->
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">New Password</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Re-Confirm Password</ion-label>
    <ion-input></ion-input>
  </ion-item><br>
  <div class="ion-text-center">
    <ion-button class="btnSave" color="warning">Update</ion-button><br>
  </div>
</ion-content>