ion-toolbar{
    //--background:#4d5270;
    //--color : #ffffff;

    --border-style: none;
    --background: transparent;
    --ion-color-base: transparent !important;
}

ion-header{
    &.header-md:after{
        background: none;
    }
}

.status{
    border-radius: 30%;
    width: 25%;
    margin-left: 75%;
}

.bar{
    border-radius: 30%;
    width: 20%;
}
