<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/setting"> </ion-back-button>
    </ion-buttons>
    <ion-title>role</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-label style="color:gray" class="ion-padding">ROLE</ion-label>
    <ion-searchbar animated></ion-searchbar>

    <!-- <ion-item *ngFor="let list of rolelist"> -->
    <ion-item>
      <ion-label style="color:gray">Board of Director</ion-label>
      <!-- <ion-label style="color:gray">{{ rolelist.name }}</ion-label> -->
      <ion-button slot="end" class="bar" color="primary" (click)="_openModalRole()">ACTION</ion-button>
    </ion-item>

    <ion-item>
      <ion-label style="color:gray">Employee</ion-label>
      <ion-button slot="end" class="bar" color="primary" (click)="_openModalRole()">ACTION</ion-button>
    </ion-item>

    <ion-item>
      <ion-label style="color:gray">Finance/Account</ion-label>
      <ion-button slot="end" class="bar" color="primary" (click)="_openModalRole()">ACTION</ion-button>
    </ion-item>

    <ion-item>
      <ion-label style="color:gray">HOD/Manager</ion-label>
      <ion-button slot="end" class="bar" color="primary" (click)="_openModalRole()">ACTION</ion-button>
    </ion-item>

    <ion-item>
      <ion-label style="color:gray">Human Resource</ion-label>
      <ion-button slot="end" class="bar" color="primary" (click)="_openModalRole()">ACTION</ion-button>
    </ion-item>


  </ion-content>
